{
  "enabled": true,
  "host": "127.0.0.1",
  "port": 3306,
  "user": "och_server",
  "password": "REPLACE_WITH_A_LOCAL_SECRET",
  "database": "project_och",
  "charset": "utf8mb4",
  "autosave_seconds": 5,
	"allow_player_data_reset": false,
  "mysql_library_path": "C:\\Program Files\\MySQL\\MySQL Server 8.0\\lib\\libmysql.dll"
}
